.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 95, 178, 0.902);
    padding: 50px;
}

.login > input{
    padding: 12px;
}