.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #007aff;
    text-align: center;
    margin-bottom: 50px;
  }
  
  button {
    background-color: #007aff;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #0059b3;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(0, 122, 255, 0.5);
  }
  
  .turnOn {
    background-color: #28be30;
  }
  
  .turnOn:hover {
    background-color: #1d8422;
  }

  .turnOff {
    background-color: #ff2d55;
  }
  

  .turnOff:hover {
    background-color: #cc2446;
  }

  .moleRepeller {
    background-color: #f4a328;

  }

  .moleRepeller:hover {
    background-color: #db9226;

  }
  
  .turnOn:focus,
  .turnOff:focus {
    box-shadow: 0px 0px 0px 3px rgba(255, 45, 85, 0.5);
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
    
    button {
      font-size: 16px;
      padding: 10px 20px;
      margin: 5px;
    }
  }